<div class="category-details">
  <div class="category-name"><span>{{category.name}}</span></div>
  {{#if showDescription}}
    <div class="category-description">{{{dir-span category.description}}}</div>
  {{/if}}
  {{#if showFeaturedLinks}}
    <ul class="category-featured-links">
      {{#each featuredLinks as |link|}}
        <li>{{category-featured-link link=link}}</li>
      {{/each}}
    </ul>
  {{/if}}
</div>

{{#if showMeta}}
  <div class="category-meta">
    {{#if showLogo}}
      {{cdn-img
        src=category.uploaded_logo.url
        class="category-logo"
        width=category.uploaded_logo.width
        height=category.uploaded_logo.height
        alt=""
      }}
    {{/if}}

    {{#if showFeaturedUsers}}
      <ul class="category-featured-users">
        {{#each featuredUsers as |featuredUser|}}
          <li>{{category-featured-user featuredUser=featuredUser}}</li>
        {{/each}}
      </ul>
    {{/if}}
  </div>
{{/if}}
